/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
backup
/tests/report
.php_cs.cache
/resources/assets/css/shiftmgr.css
/public/mix-manifest.json
