.shiftmgr .main-header .navbar {
  background-color: #2980b9;
}
.shiftmgr .main-header .navbar .nav > li > a {
  color: #fff;
}
.shiftmgr .main-header .navbar .nav .open > a,
.shiftmgr .main-header .navbar .nav .open > a:focus,
.shiftmgr .main-header .navbar .nav .open > a:hover,
.shiftmgr .main-header .navbar .nav > .active > a,
.shiftmgr .main-header .navbar .nav > li > a:active,
.shiftmgr .main-header .navbar .nav > li > a:focus,
.shiftmgr .main-header .navbar .nav > li > a:hover,
.shiftmgr .main-header .navbar .sidebar-toggle:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.shiftmgr .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.shiftmgr .main-header .navbar .sidebar-toggle:hover {
  background-color: #2472a4;
}
@media (max-width: 767px) {
  .shiftmgr .main-header .navbar .dropdown-menu li.divider {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  .shiftmgr .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .shiftmgr .main-header .navbar .dropdown-menu li a:hover {
    background: #2472a4;
  }
}
.shiftmgr .main-header .logo {
  background-color: #2472a4;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.shiftmgr .main-header .logo:hover {
  background-color: #236fa0;
}
.shiftmgr .main-header li.user-header {
  background-color: #2980b9;
}
.shiftmgr .content-header {
  background: transparent;
}
.shiftmgr .left-side,
.shiftmgr .main-sidebar,
.shiftmgr .wrapper {
  background-color: #222d32;
}
.shiftmgr .user-panel > .info,
.shiftmgr .user-panel > .info > a {
  color: #fff;
}
.shiftmgr .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.shiftmgr .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.shiftmgr .sidebar-menu > li.active > a,
.shiftmgr .sidebar-menu > li.menu-open > a,
.shiftmgr .sidebar-menu > li:hover > a {
  color: #fff;
  background: #1e282c;
}
.shiftmgr .sidebar-menu > li.active > a {
  border-left-color: #2980b9;
}
.shiftmgr .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.shiftmgr .sidebar a {
  color: #b8c7ce;
}
.shiftmgr .sidebar a:hover {
  text-decoration: none;
}
.shiftmgr .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.shiftmgr .sidebar-menu .treeview-menu > li.active > a,
.shiftmgr .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.shiftmgr .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px;
}
.shiftmgr .sidebar-form .btn,
.shiftmgr .sidebar-form input[type="text"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.shiftmgr .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.shiftmgr .sidebar-form input[type="text"]:focus,
.shiftmgr .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.shiftmgr .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.shiftmgr .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #2980b9;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #287db5;
}
